.ui-datepicker .ui-datepicker-header {
	background-color : #ededed;
	position: relative;
	padding: .2em 0;
	cursor: pointer;
}
.ui-datepicker th {
	color: #f4ba1f;
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 49%;
	
}
.ui-datepicker-trigger{
	width:18px;
	height:18px;
	cursor: pointer;
	margin-left: 5px;
	margin-bottom: 3px;
}

