<div class="fixedContent">
	<div class="mainnavigationarea">
		<div class="topimage_area">
			<div id="top_logo" class="top_logo">
				<a href="{{'LINK_FUNCTIONAL_MAINTENANCE' | translate}}" title="{{'LABEL_BACK_HOME' | translate}}">
					<img border="0" src="images/logo.png" width="266" height="46"></img>
				</a>
			</div>
		
			
		</div>
	</div>
	<div class="top_navplaceholder_fm">
	
		<div id="top_navigation_area">
			<ul id="mainnav">
				<li ng-show = "fmLink">
					<a title="{{'LABEL_FM_HOME' | translate}}" href="{{'LINK_FUNCTIONAL_MAINTENANCE' | translate}}">&nbsp;<span translate>LABEL_FM_HOME</span></a>
				</li>
				<li ng-show = "!fmLink">
					<a title="{{'LABEL_MDM_HOME' | translate}}" href="{{'LINK_MANAGE_MDM' | translate}}">&nbsp;<span translate>LABEL_MDM_HOME</span></a>
				</li>
				
				<li>
					<a title="{{'LABEL_REPORTING' | translate}}" ng-click= "openReportingWindow()" href="javascript:void(0)">&nbsp;&nbsp;<span translate>LABEL_REPORTING</span></a>
				</li>
				
				<li>
					<a title="{{'LABEL_HELP' | translate}}" ng-click="openHelpWindow()"  href="javascript:void(0)"><span translate>LABEL_HELP</span></a>
				</li>
				
				<li>
					<a title="{{'LABEL_PAS' | translate}}" href="{{'LINK_HOME' | translate}}">&nbsp;<span translate>LABEL_PAS</span></a>
				</li>
			</ul>
 		</div>
		<div id="top_navigation_area">
			<span id="status_area" rendered="true">
			<span translate>LABEL_WELCOME</span><span translate>LABEL_COMMA</span>
			<span user-id/>
		</div>
	</div>
</div>